@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
    background: linear-gradient( rgb(233, 233, 233,0) 5%,rgb(23, 81, 100,1)80%);
    height: 100vh;
}

.photo{
    background-image: url('04ef5e1743f2123165f573616c533885.jpg');
    width: 100%;
    height: 92vh;
    opacity: 0.4;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: rgb(23, 81, 100);
  font-family: "Poppins", sans-serif;
}

.logo {
  color: rgb(233, 233, 233);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 22px;
}

.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 18px;
}

.logo i{
  font-size: 24px;
}

.burger {
  display: none;
}
.burger div {
  width: 22px;
  height: 3px;
  background: rgb(233, 233, 233);
  margin: 5px;
  border-radius: 1px;
  transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links {
        display: flex;
        width: 50%;
        justify-content: space-around;
      }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background: rgb(23, 81, 100);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}