@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  background: rgb(251, 205, 63);
  background: radial-gradient(
    circle,
    rgb(251, 185, 63) 0%,
    rgb(216, 148, 2) 100%
  );
  @include flexCenter();
  .counterContainer {
    font-family: "Dosis", sans-serif;
    @include flexCenter();
    width: 99vh;
    height: 98vh;
    .numContainer {
      @include flexCenter();
      width: 10%;
      height: 10%;
      background: rgb(61, 61, 61);
      border-radius: 25%;
      box-shadow: 5px 5px 10px ;
      .counter {
        @include flexCenter();
        width: 10%;
        height: 10%;
        color: rgb(216, 148, 2);
        font-size: 40px;
        transition: all 0.5s ease;
      }
    }
  }
}

button {
    text-shadow: 5px 5px 10px rgb(37, 37, 37);
  background: none;
  border: none;
  cursor: pointer;
  padding: 15px 10px;
  font-size: 30px;
  color: rgb(61, 61, 61);
  transition: all 0.2s ease;
  outline: none;
}
button:hover {
  color: rgb(216, 148, 2);
}

.down {
  opacity: 0;
}
